body {
    background-image: url("RESOURCES/bg.jpg");
    background-position: center;
    background-clip: border-box;
    background-size: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}
.container {
    width: 100%;
}

#div1 {
    background-color: rgb(240, 240, 240);
}

.subcontainers {
    text-align: center;
    width: 50%;
    float: left;
}

#test {
    font-size: 100px;
}

#hsLgForm {
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin-left: 5%;
    border-radius: 40px;
    position:absolute;
}

.hsButtons {
    width: 100%;
}

#hsLoginButton {
    border-color: black;
    background-color: black;
    color: white;
    width: 70%;
    height: 50px;
    border-radius: 10px;
}

#hsRegisterButton {
    border-color: black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 40%;
    height: 45px;
    border-radius: 10px;
}

.hsInput {
    margin-top: 30px;
    height: 20px;
    width: 70%;
    border-radius: 10px;
    border-color: black;
}

#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 70%;
    height: 70px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    white-space: nowrap;
    margin-bottom: 5px;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('glogo.png') transparent 0px no-repeat;
    background-size: 70%;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    margin-left: 24px;
    margin-top: 16px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    margin-top: 15px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }